* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend;
}
body {
  background-color: #f3f0ec;
}

/*Navbar estilos*/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #496c70;
  height: 60px;
  width: 100%;
  color: #e3e0d3;
  position: fixed;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 30px;
  font-weight: 300;
  font-size: 1.3rem;
  height: 100%;
}

.nav-links a {
  text-decoration: none;
  color: #e3e0d3;
}
.nav-links a:hover {
  text-decoration: underline;
}

.brand-nombre {
  font-size: 1.5rem;
}

.brand-text {
  font-size: 0.9rem;
  text-align: center;
}
#tema-icon {
  margin-left: 5px;
}
/*Navbar mobile */
.abrir-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.cerrar-menu {
  display: none;
}

/*Main estilos*/
.main {
  height: calc(86vh);
  display: flex;
  flex-direction: row;
  color: #496c70;
  align-items: center;
  justify-content: space-around;
}
.contenedor-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
}
.titulo-main {
  font-size: 5rem;
}
.texto-main {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 20px;
}
.texto-informacion {
  margin-bottom: 10px;
}
.btn-whatsapp {
  background-color: #496c70;
  color: #e3e0d3;
  text-decoration: none;
  font-size: 1.2rem;
  height: 50px;
  width: 460px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bold-texto {
  padding: 2px;
  font-weight: bold;
  color: #ffffff;
  background-color: #496c70;
  border-radius: 5px;
}
.main-imagen {
  width: 30rem;
  height: 20rem;
  margin-right: 50px;
  border-radius: 10px;
}
.btn-arriba {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #496c70;
  color: #e3e0d3;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
/*Sobre nosotros - sección información*/

#seccion-nosotros {
  background-color: #496c70;
  padding: 20px 50px;
  color: #e3e0d3;
  text-align: center;
}

.titulo-nosotros {
  font-size: 3rem;
  margin-bottom: 5px;
}
.subtitulo-nosotros {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
}
.texto-nosotros {
  margin-top: 15px;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/*Sobre nosotros - sección servicios*/
#seccion-servicios {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  color: #496c70;
}
.contenedor-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fr);
  padding: 20px 50px;
  gap: 20px;
}

#seccion-servicios article {
  background-color: #ebe6d7;
  color: #496c70;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  height: 150px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#seccion-servicios article i {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.texto-aclaracion {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  color: #496c70;
  margin-top: 2rem;
}

/*Footer*/
footer {
  background-color: #496c70;
  color: #e3e0d3;
  padding: 20px;
}
.titulo-footer {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  text-decoration: underline;
}
.seccion-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 10px;
}
.contacto-footer {
  font-size: 1.2rem;
  margin-bottom: 7px;
}
.brand-footer h4 {
  margin-bottom: 0.5px;
  font-size: 1rem;
  font-weight: 500;
}
.brand-footer p {
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
}
.fa-location-dot {
  color: #e3e0d3;
  margin-bottom: 7px;
}
.btn-whatsapp-footer {
  display: inline-block;
  color: #e3e0d3;
  text-decoration: none;
  gap: 10px;
  margin-bottom: 7px;
}

/*Estilos responsivos*/
@media (min-width: 1025px) {
  .main {
    height: calc(90vh);
  }
  .main-imagen {
    width: 30rem;
    height: 20rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /*Main*/
  .titulo-main {
    font-size: 4rem;
  }
  .main-imagen {
    width: 23rem;
    height: 15rem;
  }
  .texto-main {
    font-size: 1.2rem;
  }
  .btn-whatsapp {
    width: 300px;
  }
  .main {
    height: calc(90vh);
  }
  /*Sección servicios*/
  .titulo-servicios {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  /*Navbar mobile*/
  .abrir-menu {
    display: block;
  }
  .cerrar-menu {
    font-size: 2rem;
    cursor: pointer;
    display: block;
  }
  .nav-links {
    opacity: 0;
    visibility: hidden;

    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #496c70;
    top: 0px;
    right: 0;
    padding: 1rem;
    height: 50vh;
    width: 30%;
  }
  .nav-links li {
    width: 100%;
    height: 50px;
  }
  nav .visible {
    opacity: 1;
    visibility: visible;
  }
  /*Main*/
  .main {
    flex-direction: column;
    height: auto;
    padding-top: 60px;
    margin-bottom: 30px;
  }
  .contenedor-main {
    width: 90%;
    margin: 0;
  }
  .main-imagen {
    display: none;
  }
  .btn-whatsapp {
    width: 250px;
    font-size: 1rem;
  }
  /*Sección servicios*/
  .titulo-servicios {
    font-size: 2rem;
  }
  .contenedor-servicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, fr);
  }
  #seccion-servicios article {
    font-size: 0.9rem;
  }
  /*Sección nosotros*/
  .texto-nosotros {
    font-size: 1rem;
  }
  /*Sección servicios*/
  .texto-aclaracion {
    font-size: 0.7rem;
  }

  /*Footer*/
  .titulo-footer {
    font-size: 1.5rem;
  }
  .seccion-footer {
    padding: 0;
  }
  .brand-footer .text-footer {
    font-size: 1rem;
  }
  .contacto-footer {
    font-size: 1rem;
  }
  .btn-arriba {
    bottom: 85px;
  }
}
@media (max-width: 480px) {
  /*Main*/
  .titulo-main {
    font-size: 3rem;
  }
  .texto-main {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  /*Sección servicios*/
  .contenedor-servicios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, fr);
    padding: 10px 10px;
  }
  /*Navbar*/
  #navbar {
    padding: 10px 20px;
  }
  .brand-nombre {
    font-size: 1.2rem;
  }
  .nav-links {
    width: 50%;
  }
  /*Sección Nosotros*/
  #seccion-nosotros {
    padding: 10px 10px;
  }
  .titulo-nosotros {
    font-size: 2rem;
  }
  .subtitulo-nosotros {
    font-size: 1.2rem;
  }
  .texto-nosotros {
    font-size: 0.9rem;
  }

  /*Footer*/
  .seccion-footer {
    flex-direction: column;
  }
  .brand-footer {
    margin-bottom: 20px;
  }
  .text-footer {
    margin-bottom: 20px;
  }
  .texto-aclaracion {
    font-size: 0.6rem;
  }
}
