* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend;
}
body {
  background-color: #f3f0ec;
}

/*Navbar estilos*/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #496c70;
  height: 60px;
  color: #e3e0d3;
}
ul {
  list-style-type: none;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  font-weight: 300;
  font-size: 1.3rem;
}
.nav-links a {
  text-decoration: none;
  color: #e3e0d3;
}

.brand h2 {
  font-size: 1.5rem;
}

.brand p {
  font-size: 0.9rem;
  text-align: center;
}
#tema-icon {
  margin-left: 5px;
}

/*Main estilos*/
.main {
  height: calc(80vh);
  display: flex;
  flex-direction: row;
  color: #496c70;
  align-items: center;
  justify-content: space-around;
}
.main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
}
.main h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}
.main p {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 20px;
}
.main a {
  background-color: #496c70;
  color: #e3e0d3;
  text-decoration: none;
  font-size: 1.2rem;
  height: 50px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 30rem;
  height: 20rem;
  margin-right: 50px;
  border-radius: 10px;
}
