* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend;
}
body {
  background-color: #f3f0ec;
}

/*Navbar estilos*/

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #496c70;
  height: 60px;
  width: 100%;
  color: #e3e0d3;
  position: fixed;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  gap: 30px;
  font-weight: 300;
  font-size: 1.3rem;
}
.nav-links a {
  text-decoration: none;
  color: #e3e0d3;
}

.brand-nombre {
  font-size: 1.5rem;
}

.brand-text {
  font-size: 0.9rem;
  text-align: center;
}
#tema-icon {
  margin-left: 5px;
}

/*Main estilos*/

.main {
  height: calc(86vh);
  display: flex;
  flex-direction: row;
  color: #496c70;
  align-items: center;
  justify-content: space-around;
}
.contenedor-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
}
.titulo-main {
  font-size: 5rem;
}
.texto-main {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 20px;
}
.texto-informacion {
  margin-bottom: 10px;
}
.btn-whatsapp {
  background-color: #496c70;
  color: #e3e0d3;
  text-decoration: none;
  font-size: 1.2rem;
  height: 50px;
  width: 460px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bold-texto {
  padding: 2px;
  font-weight: bold;
  color: #ffffff;
  background-color: #496c70;
  border-radius: 5px;
}
.main-imagen {
  width: 30rem;
  height: 20rem;
  margin-right: 50px;
  border-radius: 10px;
}

/*Sobre nosotros - sección información*/

.seccion-nosotros {
  background-color: #496c70;
  padding: 20px 50px;
  color: #e3e0d3;
  text-align: center;
}

.titulo-nosotros {
  font-size: 3rem;
  margin-bottom: 5px;
}
.subtitulo-nosotros {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
}
.texto-nosotros {
  margin-top: 15px;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/*Sobre nosotros - sección servicios*/
.seccion-servicios {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  color: #496c70;
}
.contenedor-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fr);
  padding: 20px 50px;
  gap: 20px;
}

.seccion-servicios article {
  background-color: #ebe6d7;
  color: #496c70;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  height: 150px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seccion-servicios article i {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.texto-aclaracion {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  color: #496c70;
  margin-top: 2rem;
}

/*Footer*/
footer {
  background-color: #496c70;
  color: #e3e0d3;
  padding: 15px;
}
.titulo-footer {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
.seccion-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 10px;
}
.brand-footer h4 {
  margin-bottom: 2px;
  font-size: 1.5rem;
  font-weight: 500;
}
.brand-footer p {
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
}
.fa-location-dot {
  color: #e3e0d3;
  margin-bottom: 7px;
}
.btn-whatsapp-footer {
  display: inline-block;
  color: #e3e0d3;
  text-decoration: none;
  gap: 10px;
  margin-bottom: 7px;
}
